<!--
<html>
	<head>
		<title>BROOCH Team Table</title>
		<meta name='author' content="Simon Linder">
	</head>
	<body>
	-->
		<h2 class="text-center">BROOCH Staff</h2>
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th><span class="sr-only">Picture</span></th>
					<th>Name</th>
					<th>Position</th>
					<th>Bio</th>
					<th>Twitter</th>
				</tr>
			</thead>
			<tbody>
				<% TeamMembers.forEach(function(item) { %>
					<tr>
						<td>
							<img src="./images/<%= item.Picture %>" class="rounded-circle img-fluid" alt="<%= item.Name %> Picture" />
						</td>
						<td><%= item.Name %></td>
						<td><%= item.Position %></td>
						<td><%= item.Bio %></td>
						<td>
							<a href="https://twitter.com/<%= item.Twitter %>" alt="<%= item.Name %> Twitter" target="_blank">
								@<%= item.Twitter %>
							</a>
						</td>
					</tr>>
				<% }); %>
			</tbody>
		</table>
	<!--
	</body>
</html>
-->