<!DOCTYPE html>
<html lang='en'>
	<head>
		<%- include('./partials/template/pageHead.ejs') -%>
	</head>
	<body>
		<%- include('./partials/template/pageHeader.ejs') -%>
		<div class="container-fluid">
			<div class="row">
				<%- include('./partials/template/mobilenav.ejs') -%>
				<div class="col-9 col-sm-8 col-md-12">
					<div class="page-header">
						<h1 class="text-center"><%= pageTitle %></h1>
					</div>
					<!-- Start page content -->
					<div class="card">
						<div class="card-header">About</div>
						<div class="card-block">
							<p class="card-text">
								BROOCH was founded to review opioid OD practices for professional first responders, including police, fire, and EMS personnel.
							</p>
						</div><!-- End card block -->
					</div><!-- End card -->
					<div class="card">
						<div class="card-header">Description</div>
						<div class="card-block">
							<p class="card-text">
								BROOCH was founded to review the scope of practice for professional first responders, including police, fire, and emergency medical services (EMS) personnel, who are called to assist a person suspected of suffering from an opioid overdose. This group presents training protocols for EMS including situations involving the administration of intranasal naloxone. The protocols also describe potential adverse effects following naloxone administration. Educational modules for the intranasal administration of naloxone have been developed by the Ohio Department of Public Safety EMS Division and the Vermont Department of Health. Further supportive training for EMS providers, medical directors, and educational institutions is forthcoming. The Purpose of BROOCH is to provide informative and timely information to EMS service providers responding to Opioid Overdose. BROOCH will accumulate contact information of EMS professionals in order to facilitate dissemination of information concerning management of Opioid Overdose. If you have any questions or concerns, send us a message. We are specifically for EMS and other public safety personnel; please include such information about yourself. in your message.
							</p>
						</div><!-- End card block -->
					</div><!-- End card -->
					<!-- End page content -->
				</div><!-- End content column -->
			</div><!-- End row -->
		</div><!-- container -->
		<%- include('./partials/template/pageFooter.ejs') -%>
	</body>
</html>