<!DOCTYPE html>
<html lang='en'>
	<head>
		<%- include('./partials/template/pageHead.ejs') -%>
	</head>
	<body>
		<%- include('./partials/template/pageHeader.ejs') -%>
		<div class="container-fluid">
			<div class="row">
				<%- include('./partials/template/mobilenav.ejs') -%>
				<div class="col-9 col-sm-8 col-md-12">
					<div class="page-header">
						<h1 class="text-center"><%= pageTitle %></h1>
					</div>
					<!-- Start page Content -->
					<p class="lead text-left">
						The best way to contact us is via Twitter. We are working on setting up a form for sending us email messages.
					</p>
					<%- include('./partials/content/BROOCHTeamTable.ejs') -%>
					<div class="text-center">
						<a class="twitter-timeline" data-height="590" href="https://twitter.com/BroochOpioidEMS?ref_src=twsrc%5Etfw">Tweets by BroochOpioidEMS</a>
					</div>
					<!-- End page content -->
				</div><!-- End content column -->
			</div><!-- End row -->
		</div><!-- End container -->
		<%- include('./partials/template/pageFooter.ejs') -%>
	</body>
</html>