<!DOCTYPE html>
<html lang='en'>
	<head>
		<%- include('./partials/template/pageHead.ejs') -%>
		<!--
		<title><%= siteTitle %>--<%= pageTitle %></title>
		<link rel='stylesheet' href="./css/bootstrap.min.css" type='text/css'>
		<link rel='stylesheet' href="./css/style.css" type='text/css'>
		<meta name='author' content="Simon Linder">
		-->
	</head>
	<body>
		<%- include('./partials/template/pageHeader.ejs') -%>
		<!--<header>
			<div class="jumbotron d-none d-lg-block">
				<div class="text-center">
					<img class="img-responsive" src="./images/BroochBanner.png" />
				</div>
			</div>
			<nav class="navbar navbar-expand-sm bg-primary d-none d-md-block">
				<a href="/" class="navbar-brand d-md-block text-white float-right">Brooch</a>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link text-white" href="/">Home<span class="sr-only"> (current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="contact">Contact</a>
					</li>
				</ul>
			</nav><
		</header>
		-->
		<div class="container-fluid">
			<div class="row">
				<%- include('./partials/template/mobilenav.ejs') -%>
				<!--
				<div class="col-3 pl-0 pl-sm-1 col-sm-4 bg-primary d-block d-md-none">
					<nav class="navbar navbar-toggleable navbar-light bg-primary">
						<button class="navbar toggler nabvar-toggler-right" type='button' data-toggle='collapse' data-target="#navbarNav" aria-controls="navbarNav" aria-expanded='false' aria-label="toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<a href="/" class="navbar-brand d-none d-sm-block mr-sm-0 float-right text-right">Brooch</a>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item active">
									<a class="nav-link text-white" href="/">Home<span class="sr-only"> (current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" href="about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" href="projects">Projects</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" href="contact">Contact</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				-->
				<div class="col-9 col-sm-8 col-md-12">
					<div class="page-header">
						<h1 class="text-center"><%= siteTitle %></h1>
					</div>
					<p class="lead text-left">
						Welcome to the BROOCH site. This is the landing page for information about our group and what we do. Feel free to browse our site, or look at our social media pages.
					</p>
					<div class="row">
						<div class="col-sm-6">
							<iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FBroochOpioidEMS&amp;width&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px;" allowtransparency="true"></iframe>
						</div>
						<div class="col-sm-6">
							<a class="twitter-timeline" data-height="590" href="https://twitter.com/BroochOpioidEMS?ref_src=twsrc%5Etfw">Tweets by BroochOpioidEMS</a>
						</div>
					</div>
				</div>
			</div>			
		</div><!-- container -->
		<%- include('./partials/template/pageFooter.ejs') -%>
		<!--
		<footer class="footer bg-primary">
			<div class="text-center">
				<small class="text-white">Web Site  &copy; BROOCH 2017</small>
			</div>
		</footer>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/tooltip.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		-->
	</body>
</html>