<!DOCTYPE html>
<html lang='en'>
	<head>
		<%- include('./partials/template/pageHead.ejs') -%>
		<!--
		<title><%= siteTitle %>--<%= pageTitle %></title>
		<link rel='stylesheet' href="./css/bootstrap.min.css" type='text/css'>
		<link rel='stylesheet' href="./css/style.css" type='text/css'>
		<meta name='author' content="Simon Linder">
		-->
	</head>
	<body>
		<%- include('./partials/template/pageHeader.ejs') -%>
		<!--
		<header>
			<div class="jumbotron d-none d-lg-block">
				<div class="text-center">
					<img class="img-responsive" src="./images/BroochBanner.png" />
				</div>
			</div>
			<nav class="navbar navbar-expand-sm bg-primary d-none d-md-block">
				<a href="/" class="navbar-brand d-md-block text-white float-right">Brooch</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link text-white" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="about">About</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-white" href="projects">Projects<span class="sr-only"> (current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="contact">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		-->
		<div class="container-fluid">
			<div class="row">
				<%- include('./partials/template/mobilenav.ejs') -%>
				<!--
				<div class="col-3 pl-0 pl-sm-1 col-sm-4 bg-primary d-block d-md-none">
					<nav class="navbar navbar-toggleable navbar-light bg-primary">
						<button class="navbar toggler nabvar-toggler-right" type='button' data-toggle='collapse' data-target="#navbarNav" aria-controls="navbarNav" aria-expanded='false' aria-label="toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<a href="/" class="navbar-brand d-none d-sm-block mr-sm-0 float-right text-right">Brooch</a>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link text-white" href="/">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" href="about">About</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link text-white" href="projects">Projects<span class="sr-only"> (current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" href="contact">Contact</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				-->
				<div class="col">
					<div class="page-header">
						<h1 class="text-center"><%= pageTitle %></h1>
					</div>
					<div class="card">
						<div class="card-header">OH Narcan</div>
						<div class="card-block">
							<a class="twitter-timeline" href="https://twitter.com/hashtag/OHNARCAN" data-widget-id="926540042885058561">#OHNARCAN Tweets</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Crowdfunded Expenses of Opioid Problem</div>
						<div class="card-block">
							<iframe id="ArcGISMap" src="http://arcg.is/1Cje55"></iframe>
						</div>
					</div>
				</div>
			</div>			
		</div><!-- container -->
		<%- include('./partials/template/pageFooter.ejs') -%>
		<!--
		<footer class="footer bg-primary">
			<div class="text-center">
				<small class="text-white">Web Site  &copy; BROOCH 2017</small>
			</div>
		</footer>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/tooltip.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		-->
	</body>
</html>