<!--
<html>
	<head>
		<title>Mobile Navigation Template</title>
		<meta name='author' content="Simon Linder">
	</head>
	<body>
	-->
		<div class="col-3 pl-0 pl-sm-1 col-sm-4 bg-primary d-block d-md-none">
			<nav class="navbar navbar-toggleable navbar-light bg-primary">
				<button class="navbar toggler nabvar-toggler-right" type='button' data-toggle='collapse' data-target="#navbarNav" aria-controls="navbarNav" aria-expanded='false' aria-label="toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a href="/" class="navbar-brand d-none d-sm-block mr-sm-0 float-right text-white text-right">Brooch</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item
						<% if(pageID == 'home') { %>
							 active
						<% } %>
						">
							<a class="nav-link text-white" href="/">Home
							<% if(pageID == 'home') { %>
								<span class="sr-only"> (current)</span>
							<% } %>
							</a>
						</li>
						<li class="nav-item
						<% if(pageID == 'about') { %>
							 active
						<% } %>
						">
							<a class="nav-link text-white" href="about">About
							<% if(pageID == 'about') { %>
								<span class="sr-only"> (current)</span>
							<% } %>
							</a>
						</li>
						<li class="nav-item
						<% if(pageID == 'projects') { %>
							 active
						<% } %>
						">
							<a class="nav-link text-white" href="projects">Projects
							<% if(pageID == 'projects') { %>
								<span class="sr-only"> (current)</span>
							<% } %>
							</a>
						</li>
						<li class="nav-item
						<% if(pageID == 'contact') { %>
							 active
						<% } %>
						">
							<a class="nav-link text-white" href="contact">Contact
							<% if(pageID == 'contact') { %>
								<span class="sr-only"> (current)</span>
							<% } %>
							</a>
						</li>
					</ul>
				</div>
			</nav><!-- End Mobile Navigation bar -->
		</div><!-- End Navigation column -->
	<!--
	</body>
</html>
-->