<!--
<html>
	<head>
		<title>Page Header Template</title>
		<meta name='author' content="Simon Linder">
	</head>
	<body>
	-->
		<header>
			<div class="jumbotron d-none d-lg-block">
				<div class="text-center">
					<img class="img-responsive" src="./images/BroochBanner.png" />
				</div>
			</div><!-- jumbotron -->
			<nav class="navbar navbar-expand-sm bg-primary d-none d-md-block">
				<a href="/" class="navbar-brand d-md-block text-white float-right">Brooch</a>
				<ul class="navbar-nav">
					<li class="nav-item
					<% if(pageID == 'home') { %>
						 active
					<% } %>
					">
						<a class="nav-link text-white" href="/">Home
						<% if(pageID == 'home') { %>
							<span class="sr-only"> (current)</span>
						<% } %>
						</a>
					</li>
					<li class="nav-item
					<% if(pageID == 'about') { %>
						 active
					<% } %>
					">
						<a class="nav-link text-white" href="about">About
						<% if(pageID == 'about') { %>
							<span class="sr-only"> (current)</span>
						<% } %>
						</a>
					</li>
					<li class="nav-item
					<% if(pageID == 'projects') { %>
						 active
					<% } %>
					">
						<a class="nav-link text-white" href="projects">Projects
						<% if(pageID == 'projects') { %>
							<span class="sr-only"> (current)</span>
						<% } %>
						</a>
					</li>
					<li class="nav-item
					<% if(pageID == 'contact') { %>
						 active
					<% } %>
					">
						<a class="nav-link text-white" href="contact">Contact
						<% if(pageID == 'contact') { %>
							<span class="sr-only"> (current)</span>
						<% } %>
						</a>
					</li>
				</ul>
			</nav><!-- End Default navigation -->
		</header>
		<!--
	</body>
</html>
-->