<!--
<html>
	<head>
		<title>Page Footer</title>
		<meta name='author' content="Simon Linder">
	</head>
	<body>
	-->
		<footer class="footer bg-primary">
			<div class="text-center">
				<small class="text-white">Web Site  &copy; BROOCH 2017</small>
			</div>
		</footer>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/tooltip.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<% if(pageID == 'contact' || pageID == 'home') { %>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<% } %>
		<% if(pageID == 'projects') { %>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
		<% } %>
	<!--
	</body>
</html>
-->