<!--
<html>
	<head>
	-->
		<title><%= siteTitle %>--<%= pageTitle %></title>
		<link rel='stylesheet' href="./css/bootstrap.min.css" type='text/css'>
		<link rel='stylesheet' href="./css/style.css" type='text/css'>
		<meta name='author' content="Simon Linder">
	<!--
	</head>
	<body>
		Content goes here
	</body>
</html>
-->